__pycache__
.vscode
Cleaned_Content
Temp_Callers
Temp_Tokens
venv
.env
credentials.json

Doremon.png

All_Servers/__pycache__
All_Servers/check_txt.py 
All_Servers/gmail_tool_5_normal.py 
All_Servers/gmail_tool.py 
All_Servers/google_docs_tool.py 
All_Servers/weaviate_tool.py 
All_Servers/you_tube.py
